@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes little-bounce {
  0%,
  100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce-slow {
  animation-name: little-bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
